header a {
    text-decoration: none;
    color: inherit;
}

#nav-bar {
    letter-spacing: 1px;
    text-transform: uppercase;
    list-style-type: none;
    
}

.active {
    border-bottom: 1px solid black;
}

.football-badge {
    background-image: url('');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#fname, #lname, #email, #phone, #age {
    width: 10%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.soical-media{
    list-style-type: none;
    display: inline-flex;
}