/*All the pages*/
* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

header a {
    text-decoration: none;
    color: inherit;
}

#nav-bar {
    letter-spacing: 1px;
    text-transform: uppercase;
    list-style-type: none;
    color: black;
    float: right;
}

.active {
    border-bottom: 1px solid black;
}

#footer {
    bottom: 0;
}

.soical-media {
    text-align: center;
}

.soical-media li {
    list-style-type: none;
    display: inline-flex;
    margin: 2%;
}

.soical-media i {
    font-size: 200%;
    color: black;
    margin-bottom: 20px;
}

/* Home Page */

#hero-image {
    background-image: url('../images/team');
    height: 300px;
    width: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 15%;
}

.middle {

    float: left, right;
    width: 70%;
}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    height: 100%;
    width: 25%;
    padding-left: 10px;
}

/* gallery page */

#photos img{
    border-radius: 10px;
    max-width: 100%;
    height: 600px;
}

/*Contact us page*/

#fname, #lname, #email, #phone, #age {
    width: 10%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
}

.contact {
    text-align: center;
    
}

table, th, tr, td {
    border: 1px solid black;
    font-size:large;
    margin-left: auto;
    margin-right: auto;
}

#left {
    margin-left: auto;
    margin-top: -500px;
}