/*All the pages*/
* {
    box-sizing: border-box;
}

header h1 {
    text-align: center;
}

body {
    background-color: lightblue;
}

header a {
    text-decoration: none;
    color: inherit;
}

#nav-bar {
    letter-spacing: 1px;
    text-transform: uppercase;
    list-style-type: none;
    color: black;
    display: inline;
    text-align: center;
    
}

.active {
    border-bottom: 1px solid black;
}

#footer {
    bottom: 0;
}

.soical-media {
    text-align: center;
}

.soical-media li {
    list-style-type: none;
    display: inline-flex;
    margin: 2%;
}

.soical-media i {
    font-size: 200%;
    color: black;
    margin-bottom: 20px;
}

/* Home Page */

.hero-image {
    height:300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/george.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/team.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Dan.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/cal.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* About us Page*/

.shop {
    margin-top: 10px;
    max-width: 50%;
    height: 500px;
}

/* Gallery page */

#photos img{
    border-radius: 10px;
    max-width: 100%;
    height: 500px;
    display: inline-block;
}

/*Contact us page*/


#fname, #lname, #email, #phone, #age {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
}

/*Responsive to all devices */

@media  screen and (max-width) {
    
}
